@import "tailwindcss";
@font-face {
  font-family: "VCR_OSD_MONO";
  src: url("/font/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-terminal-primary: var(--terminal-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #ededed;
    --terminal-primary: #1eff00;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-vcr {
  font-family: "VCR_OSD_MONO";
}
