@import "tailwindcss";

@font-face {
  font-family: "VCR_OSD_MONO";
  src: url("/font/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #171717;
  --foreground: #ffffff;
  --terminal-primary: #1eff00;
  --tablet-border: #8c8f98;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: Roboto, sans-serif;
  --color-terminal-primary: var(--terminal-primary);
  --color-tablet-border: var(--tablet-border);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .text-vcr {
    font-family: "VCR_OSD_MONO", monospace;
  }

  .terminal-text {
    font-family: "VCR_OSD_MONO", monospace;
    @apply text-terminal-primary text-lg drop-shadow-[0_0_10px_#1EFF00];
  }
}
/* styles/globals.css or app/globals.css */

.scrollbar-white::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-white::-webkit-scrollbar-thumb {
  background-color: white; /* White scroll thumb */
  border-radius: 9999px;
}

.scrollbar-white {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: white transparent; /* Firefox: white thumb, transparent track */
  overflow-y: scroll !important; /* Always show scrollbar */
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.terminal-input > input::selection,
.terminal-input > div::selection {
  background-color: white;
  color: black;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.animate-slideFade {
  animation: slideFade 2s ease-in-out forwards;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  0%,
  100% {
    border-color: green;
  }
  50% {
    border-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid green;
  white-space: nowrap;
  width: 0;
  animation: typewriter 3s steps(24, end) 1s forwards,
    blinkCursor 0.8s step-end infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out forwards;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
