@import "tailwindcss";

@font-face {
  font-family: "VCR_OSD_MONO";
  src: url("/font/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-terminal-primary: var(--terminal-primary);
  --color-tablet-border: var(--tablet-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #21242f;
    --foreground: #ededed;
    --terminal-primary: #1eff00;
    --tablet-border: #8c8f98;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .text-vcr {
    font-family: "VCR_OSD_MONO", monospace;
  }

  .terminal-text {
    font-family: "VCR_OSD_MONO", monospace;
    @apply text-terminal-primary text-lg drop-shadow-[0_0_10px_#1EFF00];
  }
}

/* styles/globals.css or app/globals.css */

.scrollbar-white::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-white::-webkit-scrollbar-thumb {
  background-color: white; /* White scroll thumb */
  border-radius: 9999px;
}

.scrollbar-white {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: white transparent;   /* Firefox: white thumb, transparent track */
  overflow-y: scroll !important;         /* Always show scrollbar */
}
